.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    /* выше установили ограничения для секции */
    position: relative;
    display: flex;
    flex-direction:column;
    justify-content: center;
    padding-left:  64px;
    margin-bottom:100px;
    background-color: #f2f2f2;
    overflow:hidden;
  }
  
  .logo_place_header{
    width:228px;
    height:32px;
    position: absolute;
    top: 30px;
  }
  
  .main-illustration{
    width:765px;
    height: 608px;
    z-index: 1;
    position:absolute;
    right:0px;
    bottom:0px;
  }