.cards{
    list-style-type:none;
    width: 920px;
    margin:auto;
    padding:0;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: space-between;
}

.cards__item:last-child{ 
    position:relative;
    right:50%;
    transform: translateX(50%);
} 
